*.h5ad
*.csv
*.txt
*.tsv
*.fa
*.fasta
*.gff
*.gtf

*.out
*.err
*.log
logs/

.ipynb_checkpoints/

__pycache__/
*.pyc
*.pyo
.DS_Store

# results and large outputs
results/
samaps/
blast/alignments/
filter_transcripts/output/
pseudotime/results/

*.lock
*.bak
*.tmp
*.swp
.env
